/**
 * Webian Shell presentation
 * http://webian.org
 * 
 * Copyright Ben Francis 2012
 * 
 * Webian Shell is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Webian Shell is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Webian Shell in the LICENSE file. If not, see 
 * <http://www.gnu.org/licenses/>.
*/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow:hidden;
}

body {
  font-family: Helvetica, Sans-serif;
  font-size: 13px;
  background-color: #000;
  background-image: radial-gradient(closest-side, #434343 0%, #000 100%);
}

#power-button {
  position: fixed;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-image: url(../images/power.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#windows {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 30px);
  top: 0;
  border: solid 5px #666;
  border-radius: 5px;
  background-color: #fff;
}

.window-group, .window {
  width: 100%;
  height: 100%;
  border: none;
}

#app-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  height: 35px;
  background-color: #666;
  margin: 0 5px;
  padding: 0;
  transition: transform 0.3s;
  background-image: url(../images/gripper.gif);
  background-position: center bottom 1px;
  background-repeat: no-repeat;
    transform: translateY(-30px);

}

#app-toolbar:hover {
    transform: translateY(0);
}

#tabs {
  width: calc(100%);
  padding: 0;
  height: 35px;
}

.tab-group {
  height: 35px;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tab {
  height: 25px;
  flex: auto;
  margin: 5px 0;
  color: #fff;
  line-height: 25px;
  display: flex;
  border-left: solid 1px #333;
  background-image: url(../images/default_icon.png);
  background-repeat: no-repeat;
  background-position: left 5px center;
  padding-left: 21px;
}

.tab:first-child {
  margin-left: 0;
  border-left: none;
}

.tab:last-child {
  margin-right: 0;
}

.tab.selected {
    background-color: #333;
    border-radius: 5px;
    border-left: none;
}

.tab.selected + .tab {
  border-left: none;
}

.tab-title {
  margin: 0 5px;
  flex: auto;
}

.close-button {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  background-image: url(../images/close.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* Grid */
/*#grid {
  display: none;
}

#grid.visible {
  display: block;
}

#app_icons {
  padding: 0;
  margin: 0;
}

#app_icons li {
  display: block;
  list-style-type: none;
  margin: 30px;
  float: left;
  width: 60px;
  height: 75px;
  text-align: center;
}

#app_icons li img {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

#app_icons li span {
  color: white;
}*/

/* Window Toolbar */
/*#window_toolbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  margin: 0;
  padding: 0;
  background-color: #666;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url(../images/gripper.gif);
  background-repeat: no-repeat;
  background-position: center 0px;
}

#window_toolbar.visible {
  display: block;
}

#window_toolbar:hover {
  height: 30px;
  background-position: center 25px;
}

#window_toolbar.loading {
  background-image: url(../images/loading.gif);
}

#address_bar {
  display: none;
  background-color: transparent;
  height: 20px;
  border-radius: 5px;
  width: calc(100% - 10px);
  margin: 5px;
  position: absolute;
}

#window_toolbar:hover #address_bar {
  display: block;
}

#address_bar.selected {
  background-color: #dae2e9;
}

#url_input {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border: none;
  height: 14px;
  margin: 0;
  width: calc(100% - 26px);
  padding: 3px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}

#address_bar.selected #url_input {
  color: #000;
  font-weight: normal;
}

#url_button {
  display: none;
  background-color: transparent;
  background-image: url('../images/go.png');
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
}

#address_bar.selected #url_button {
  display: block;
}*/

/* Window Frame */
/*#window_frame {
  display: none;
  background-color: #fff;
  margin: 5px 0 0 0;
  width: calc(100% - 10px);
  height: calc(100% - 35px);
  border-left: solid 5px #666;
  border-right: solid 5px #666;
  border-bottom: solid 5px #666;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#window_frame.visible {
  display: block;
}*/

/* System Toolbar */
#system-toolbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  color: #fff;
}

#system-toolbar #app-tabs {
 flex: auto;
 height: 30px;
 margin: 0;
 padding: 0;
 padding-left: 5px;
}

#system-toolbar #app-tabs li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

#system-toolbar #app-tabs li a {
  display: block;
  width: 30px;
  height: 25px;
  background-image: url(../images/default_icon.png);
  background-repeat: no-repeat;
  background-position: center bottom 6px;
}

#system-toolbar #app-tabs li.selected a {
 background-color: #666;
 border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
}

#system-toolbar #app-tabs #home-button {
  background-image: url(../images/home.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#clock {
  display: block;
  line-height: 30px;
  padding: 0 10px;
}
